version: "3"

services:

  runtime-setup:
    image: swift-kafka-client:22.04-main
    build:
      args:
        base_image: "swiftlang/swift:nightly-main-jammy"

  test:
    image: swift-kafka-client:22.04-main
    environment:
      - WARN_AS_ERROR_ARG=-Xswiftc -warnings-as-errors
      - IMPORT_CHECK_ARG=--explicit-target-dependency-import-check error
      - STRICT_CONCURRENCY_ARG=-Xswiftc -strict-concurrency=complete
      # - SANITIZER_ARG=--sanitize=thread # TSan broken still

  update-benchmark-baseline:
    image: swift-kafka-client:22.04-main
    environment:
      - SWIFT_VERSION=main

  shell:
    image: swift-kafka-client:22.04-main
